<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Location</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" th:href="@{/img/map-icon.png}">

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/clean-blog.min.css}" rel="stylesheet"/>

</head>
<body>
<nav th:fragment="header" class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div th:replace="fragments/header :: header"></div>
</nav>

<header class="masthead" th:style="'background-image: url(' + @{/img/object-details-bg.jpg} +')'">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1 style="text-align: center" th:text="${location.getName()}">location name</h1>
                    <h2 class="subheading" style="text-align: center"
                        th:text="'Category: ' + ${location.getCategory().getTitle()}">Type</h2>
                    <h3 style="text-align: center" th:if="${location.getAddress()}" class="post-meta"
                        th:text="${location.getAddress()}">Address</h3>
                </div>
            </div>
        </div>
    </div>
</header>


<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h1 th:unless="${location.getDescription().isEmpty()}">Description</h1>
                <p style="text-align: justify" th:text="${location.getDescription()}">Description</p>
                <div th:each="resource: ${location.getLocationContentItems()}">
                    <!--                    {% if resource.resource_type == 'TXT' %}-->
                    <div th:if="${resource.getTitle()} == 'TXT'">
                        <h3 th:text="${resource.getTitle()}">ResourceTitle</h3>
                        <p style="text-align: justify" th:text="${resource.getTextValue()}">ResourceTextValue</p>
                    </div>
                    <!--                    {% elif resource.resource_type == 'IMG' %}-->
                    <img th:if="${resource.getTitle()} == 'IMG'" class="img-fluid"
                         style="margin-left: auto; margin-right: auto; width: 80%; display: block"
                         th:src="${resource.getImage()}">
                    <a th:if="${resource.getTitle()} == 'URL'" th:href="${resource.getURL()}">ResourceURL</a>
                </div>
            </div>
        </div>

        <p class="d-flex justify-content-center">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">
                Add Content
            </button>
        </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <form th:action="@{/location/${location.getId()}/addResource}" th:object="${newContent}" method="post">
                    <div class="form-group p-2 mb-4">
                        <label class="form-label" for="type">Content type:</label>
                        <select th:field="*{type}" class="form-select form-control"
                                id="type">
                            <option value="TEXT">Text</option>
                            <option value="URL">Url</option>
                            <option value="IMAGE">Image</option>
                        </select>
                    </div>
                    <div class="form-group p-2 mb-4">
                        <label class="form-label" for="text-content">Add text:</label>
                        <input type="text" id="text-content" class="form-control"
                               th:field="*{text}"/>
                    </div>
                    <div class="form-group p-2 mb-4">
                        <label class="form-label" for="url-content">Add URl:</label>
                        <input type="text" id="url-content" class="form-control"
                               th:field="*{url}"/>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="image-content">Add image:</label>
                        <input type="file" id="image-content" name="image" accept="image/*" class="form-control-file">
                    </div>
                    <br>
                    <button type="submit"
                            class="btn btn-success gradient-custom-4 text-body"
                            th:text="'Submit'">Submit
                    </button>
                </form>
            </div>
        </div>

    </div>
</article>


<div th:insert="fragments/footer :: footer"></div>
</body>
</html>